<section class="client-section">
	<h3 id="clients">CLIENTS</h3>


<div class="client-controls">
	<div class="client-control-prev">{%include icons/icon-prev.html %}</div>
	<div class="client-control-next">{%include icons/icon-next.html %}</div>
</div>	

<div class="clients-belt">
	<div class="client-unit">
		<div class="client-face">
			<img src="../img/clients/face-aaroni.jpg" alt="client-face"/>
			<strong class="client-name">Scott Summers</strong>
			<em class="client-title">Director of Design, Quebec Int.</em>
		</div>

		<div class="client-content">
			<div class="client-quote-mark">{%include icons/icon-quote-mark.html %}</div>
			<p><strong>Suspendisse potenti. Donec tristique pulvinar mauris, vitae elementum sapien sagittis eu.
			</strong> Morbi at neque sit amet nisl feugiat tincidunt. Duis dolor odio, faucibus sed dapibus eu, placerat quis nunc. In hac habitasse platea dictumst.</p>

		</div>
	</div>


</div>

<div class="clients-logos">

	<div class="client-logo active-client logo1"></div>
	<div class="client-logo logo2"></div>
	<div class="client-logo logo3"></div>
	<div class="client-logo logo4"></div>

</div>

</section>