<header>

  <div class="logo"></div>

  <nav class="site-nav">
  <a href="#">Home</a>
  <a href="#">Projects</a>
  <a href="#">Gallery</a>
  <a href="#">Contact</a>
  <a href="#">About Us</a>
  </nav>

<div class="site-title">
<h1><span>{{site.title}}</span></h1>
<h4>{{site.description}}</h4>
</div>



    </header>
