
.client-section {
	position:relative;
}

.clients-belt {
	
	width:100%;
	position:relative;

}
	.client-unit {
		max-width:700px;
		margin:0 auto 30px;
		display:flex;

	}

		.client-face {
			display:block;
			text-align:center;
			min-width:250px;

			img {
				max-width:100px;
				border-radius:50%;
			}
		}


		.client-name{
			display:block;
			font-weight:400;
			letter-spaccing:1px;

		}

		.client-title {
			font-size:12px;

		}

		.client-content {
			margin-top:-10px;
			font-size:18px;
			line-height:200%;
			font-weigh:300;
			position:relative;

			
		}

		.clients-logos {
			position: relative;
			width:750px;
			align-items:center;
			display: flex;
			margin: 0 auto 100px;
		}

			.client-logo {
				min-width: 200px;	
				position:center;
				height:80px;
				cursor:pointer;
				

				&.active-client {
					box-shadow: 0 4px 0 $brand-color;

					}
				}

			.logo1{
				background: url('../img/logo1.png');
				background-repeat: no-repeat;
				background-size: contain;
				background-position: center center;
			}

			.logo2{
				background: url('../img/logo2.png');
				background-repeat: no-repeat;
				background-size: contain;
				background-position: center center;
			}

			.logo3{
				background: url('../img/logo3.png');
				background-repeat: no-repeat;
				background-size: contain;
				background-position: center center;
			}

			.logo4{
				background: url('../img/logo4.png');
				background-repeat: no-repeat;
				background-size: contain;
				background-position: center center;
			}

		.client-quote-mark {
			position:absolute;
			top:-18px;
			right:null;
			bottom:null;
			left:-15px;
			z-index:-1;
			opacity:0.3;

			path {
				fill:$grey-color;

			}

		}	

		.client-controls {
			position:absolute;
			width:100%;
		
			
			> div {
				width:40px;
				height:40px;
				margin-top:-20px;

				}
			}

			.client-control-prev {
				position:absolute;
				top: 50%;
				left:10px;
				right:0;
				bottom:0;
			}

			.client-control-next {
				position:absolute;
				top: 50%;
				right:10px;
				bottom:0;

			}


	