form {
	max-width:500px;
	margin: 0 auto 50px;

	input, textarea {
		border:3px solid $accent-color-dark;
		width:100%;
		box-sizing: border-box;
		padding:10px;

		 &:focus {
		    outline: none;
      		border-color: $accent-color;
      		}	


	}

	fieldset{
		border:none;
		padding:0;

	}

	[type="text"] {
		padding:10px;
		box-sizing: border-box;
		font-size:16px;
		
	}

	textarea {
		height:10em;
	}	

	span {
		display:block;

		}

	label {
		display:block;
		margin-bottom:20px;
		}

	.contact_info_group {

		label {
			width:50%;
			float:left;
			box-sizing:border-box;


			
			&:nth-child(1){
				padding-right:10px;
			}

			&:nth-child(2){
				padding-left:10px;
			}
		}
	}

	[type="submit"] {
		width:33%;
		text-transform: uppercase;
		font-size:18px;
		color:white;
		background: $accent-color-dark;
		float:right;

	}

}

@media (max-width: 541px) {

  form {
    .contact-info-group{

      label {
        width: 100%
        }

        &:nth-child(1) {
          padding: 0
        }

        &:nth-child(2) {
          padding: 0

          }

          }
     }

    [type="submit"]{
      width: 100%
    }

}

