
header {
    
    height:600px;
    background: url('../img/Hero-BG.jpg') center center;
    background-size:cover;
}

nav a {
    margin-left:25px;
    display:inline-block;
    font-size:14px;
    text-transform:uppercase;
    margin:30px 30px 0 0; 
    color:#515243;
    font-weight:bold;
    font-family: 'Open Sans', sans-serif;
}

.logo {
    width:50px;
    height:50px;
    background: url('../img/logo.png');
    float:left;
    margin:25px;
}

h1 {
    
    font-size:72px;
    text-transform: uppercase;
    font-weight:700 !important;
    color:#fff;
    padding-top:100px;

    span {
        border:10px solid white;
        padding:0.2em 0.5em;
        display:inline-block;

    }
}

h4 {
   font-size:14px;
   text-transform:uppercase;
   color:#fff;
   font-weight:700 !important;
   padding-top:20px;
}
