.alt-section {
	background:#dddddd;

}

#work {
	padding-top:40px;
	text-align:center;

}

.thumb-container {
	max-width:960px;
	margin: 0 auto;
	@extend %clearfix;
	padding:20px 0 100px 0;
}

.thumb-unit {
	width:25%;
	padding-top:20%;
	display:block;
	float:left;
	position:relative;
	opacity:0.5;
	background-position: center center;
	background-size:cover;
	background-repeat: no-repeat;

		&:hover {
			opacity:1;

	}
}	

	.thumb1 { 
		background-image:url('../img/img1.jpg');
	}
	.thumb2{
		background-image:url('../img/img2.jpg');
	}

	.thumb3{
		background-image:url('../img/img3.jpg');
	}

	.thumb4{
		background-image:url('../img/img4.jpg');
	}

	.thumb5{
		background-image:url('../img/img5.jpg');
	}

	.thumb6{
		background-image:url('../img/img6.jpg');
	}

	.thumb7{
		background-image:url('../img/img7.jpg');
	}

	.thumb8{
		background-image:url('../img/img8.jpg');
	}


.thumb-overlay {
	position:absolute;
	left:0;
	right:0;
	top:0;
	bottom:0;
		
}



