h3 {
	font-size:$base-font-size;
	color:$accent-color-dark;
	font-weight:bold;
	text-transform:uppercase;
	text-align:center;
	padding:100px 0 20px 0;
}

.content-about-me {
	color:$body-text-color;
	font-size:$about-font-size;
	text-align: center;
	 @extend %clearfix;
	 padding:20px;
}

.face-lockup {
	max-width:780px;
	margin:0 auto;
	align-items:center;
}


.icons-block {
	clear:both;

}

.face-img {
	width:200px;
	height:200px;
	background: url('../img/JA.png');
	display: inline-block;
	order:3;
	margin-right:15px;
	vertical-align:middle;
}

.icon {
	border-radius:50%;
	background:#dddddd;
	display:inline-block;
	width:40px;
	height:40px;
	vertical-align:middle;
	padding:40px;
	z-index:1;
	margin-right:15px;
}

.icon-pencil{
	background-image: url('../img/pencil.png');
	background-repeat:no-repeat;
	background-position: 50% 50%;
}

.icon-mouse {
	background-image: url('../img/mouse.png');
	background-position: 50% 50%;
	background-repeat:no-repeat;
}

.icon-browser {
	background-image: url('../img/browser.png');
	background-position: 50% 50%;
	background-repeat:no-repeat;
}

.icon-video {
	background-image: url('../img/video.png');
	background-position: 50% 50%;
	background-repeat:no-repeat;
	margin-right:0 !important;
}

.skill-lockup {
	max-width:700px;
	margin:100px auto;
	color:#999;
	@extend %clearfix;

}
	.skill-unit {
		width:350px;
		float:left;

	}

	.skill-label {
		margin-bottom:3px;

	}

	.skill-icons {
		font-size:0;
		margin-bottom:30px;


		span {
			border-radius:50%;
			margin-right:2px;
			background:#b9892d;
			display:inline-block;
			width:14px;
			height:14px;


			&:after {
				content:"";
				display:block;
				background:#fff;
				border-radius:50%;
				margin:2px;
				width:10px;
				height:10px;

			}

		}
		@for $i from 1 through 10  {
			&.skill-#{$i} span:nth-child(n+#{$i}){
				@extend %skill-color;
			}
		}
	}
	%skill-color {
		background: #e5eaee;
	}
